<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.nas.hc.dao.mapper.HcPersonalInfoMapper">

    <resultMap id="BaseResultMap" type="com.ds.nas.hc.dao.domain.HcPersonalInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="INTEGER"/>
            <result property="health" column="health" jdbcType="TINYINT"/>
            <result property="lastNucleicAcidTime" column="last_nucleic_acid_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="cretaeBy" column="cretae_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,id_card,
        address,phone,health,
        last_nucleic_acid_time,create_time,update_time,
        cretae_by,update_by,delete_flag
    </sql>
</mapper>
