<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.nas.nat.dao.mapper.NatDetectionPersonalInfoMapper">

    <resultMap id="BaseResultMap" type="com.ds.nas.nat.dao.domain.NatDetectionPersonalInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="batchNo" column="batch_no" jdbcType="VARCHAR"/>
        <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,batch_no,id_card,
        delete_flag
    </sql>
    
    <select id="getIdCards" resultType="string">
        select id_card
        from `${tableName}`
        where batch_no = #{batchNo}
    </select>

    <update id="entry">
        insert into `${tableName}` (`batch_no`, `id_card`,
                                    `create_by`, `update_by`)
        values ('${personalInfo.batchNo}',
                '${personalInfo.idCard}',
                '${personalInfo.createBy}',
                '${personalInfo.updateBy}');
    </update>

    <update id="entry1">
        insert into `${tableName}` (`batch_no`, `id_card`,
                                    `create_time`,`update_time`,
                                    `create_by`, `update_by`)
        values ('${personalInfo.batchNo}',
                '${personalInfo.idCard}',
                '${personalInfo.createTime}',
                '${personalInfo.updateTime}',
                '${personalInfo.createBy}',
                '${personalInfo.updateBy}');
    </update>
</mapper>
