<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.nas.nat.dao.mapper.NatDetectionBatchInfoMapper">

    <resultMap id="BaseResultMap" type="com.ds.nas.nat.dao.domain.NatDetectionBatchInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="batchNo" column="batch_no" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="entryTime" column="entry_time" jdbcType="TIMESTAMP"/>
            <result property="entryMechanism" column="entry_mechanism" jdbcType="VARCHAR"/>
            <result property="detectionTime" column="detection_time" jdbcType="TIMESTAMP"/>
            <result property="detectionResult" column="detection_result" jdbcType="INTEGER"/>
            <result property="detectionMechanism" column="detection_mechanism" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,batch_no,type,
        entry_time,entry_mechanism,detection_time,
        detection_result,detection_mechanism,delete_flag
    </sql>
</mapper>
