<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ds.nas.nat.dao.mapper.PersistenceMapper">

    <!--动态建表-->
    <update id="createTable">
        CREATE TABLE IF NOT EXISTS `${tableInfo.name}`
        (
        <foreach collection="tableInfo.fields" item="field" separator=",">
            `${field.name}` ${field.type}
        </foreach>
            ,PRIMARY KEY (`${tableInfo.pk}`)
        ) ENGINE = InnoDB
          COMMENT = '${tableInfo.comment}';
    </update>

    <!--根据日期创建表 detection_personal_info_yyyyMMdd的 SQL 语句-->
    <update id="createTableDpi" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS `${tableName}`
        (
            `id`          int(11) unsigned auto_increment comment 'id',
            `batch_no`    varchar(20)          not null comment '批次号',
            `id_card`     varchar(18)          not null comment '身份证号码',
            `delete_flag` tinyint(1) default 0 not null comment '逻辑删除标志: 0.未删除 1.已删除',
            `create_time` datetime             not null comment '创建时间',
            `update_time` datetime             not null comment '更新时间',
            `create_by`   varchar(50)         not null comment '创建人',
            `update_by`   varchar(50)         not null comment '更新人',
            PRIMARY KEY (`id`),
            UNIQUE KEY `uk_batch_no_id_card` (`batch_no`,`id_card`),
            KEY `idx_id_card` (`id_card`) USING BTREE
        ) ENGINE = InnoDB
          COMMENT ='检测用户信息表';
    </update>

    <select id="checkTable" resultType="java.lang.String">
        select
            `TABLE_NAME`
        from
            INFORMATION_SCHEMA.TABLES
        WHERE
            `TABLE_NAME` = #{tableName, jdbcType=VARCHAR}
    </select>

</mapper>